/* PALETA DE COLORES */

$absenta: #7FDD4C;
$aguamarina: #7FFFD4;
$almendra: #EED9C4;
$alazan: #A76726;
$albaricoque: #FBCEB1;
$amaranto: #E52B50;
$amarillo: #FFFF00;
$amatista: #9966CC;
$azul: #0000FF;
$azul-marino: #120A8F;
$azul-real: #002366;
$azul-heraltico: #007FFF;
$blanco-lana: #F5F5DC;
$blanco: #FFFFFF;
$berengena: #990066;
$bermellon: #FF4D00;
$bistre: #3D2B1F;
$bronce: #CD7F32;
$canario: #FFFF99;
$canelo: #7E5835;
$caboa: #88421D;
$cardo: #D8BFD8;
$carmesi: #DC143C;
$carmin: #960018;
$carnacion: #F95A61;
$celeste: #87CEFF;
$cerceta: #008080;
$cereza: #DE3163;
$cian: #00FFFF;
$corales: #FF7F50;
$dandelion: #FED85D;
$escarlata: #FF2400;
$esmeralda: #50C878;
$fambuesa: #B3446C;
$fresa: #BF3030;
$granate: #800000;
$gamboge: #EF9B0F;
$gris: #808080;
$gris-antracita: #303030;
$gris-pizarra: #708090;
$helecho: #4F7942;
$jade: #00A86B;
$lavanda: #B57EDC;
$limon: #FDE910;
$madera: #DEB887;
$malva: #D473D4;
$miel: #DAB30A;
$morado: #4B0082;
$mostaza: #FFDB58;
$naranja: #FFA000;
$negro: #000000;
$oxido: #B7410E;
$purpura-real: #66023C;
$rojo: #FF0000;
$rosa: #FFCBDB;
$rosa-naranja: #FF8C69;
$verde: #00FF00;
$verde-amarillo: #7FFF00;
$verde-musgo: #ADDFAD;
$vinca: #CCCCFF;
$violeta: #8B00FF;
$wisteria: #C9A0DC;
$zanahoria: #ED9121;
$zinnwaldita: #EBC2AF;