/* DIMENSIONES PARA UTILIZAR EN EL DOCUMENTO */

/* CONTENDOR EN TODA LA PANTALLA */
@mixin cont-adapt {
    margin: 0px;
    padding: 10px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;

    @media (min-width: 400px) and (orientation: portrait) {
        margin: 0px;
        padding: 10px;
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
    }
}

/* CONTENEDOR PARA LOS MENÚ*/
@mixin cont-menu{
    margin: 0px;
    padding: 5px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 400px) and (orientation: portrait){
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
}

/* CONTENEDOR PARA ELEMENTOS EN COLUMNA */
@mixin row-cont{
    margin: 0px;
    padding: 5px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media (min-width: 400px) and (orientation: portrait){
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
        justify-content: space-between;
    }
}

/* CONTENDOR PARA ELEMENTOS INDEPENDIENTES */
@mixin independent{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
}

/* CONTENEDOR PARA ELEMENTOS LATERALES */
@mixin side{
    margin: 0px;
    padding: 10px;
    width: 25%;

    @media (min-width: 400px) and (orientation: portrait){
        width: 97%;
    }
}