@import 'colors.scss';

/* TEXTO PARA TÍTULOS */
@mixin titles{
	padding: 0px;
	margin: 0px;
	font-family: bahnschrift, verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 4em;

	@media (min-width: 350px) and (orientation: portrait){
		font-size: 3.5em;
	}
}

/* TEXTO PARA SUBTÍTULOS */
@mixin subtitles{
	padding: 0px;
	margin: 0px;
	font-family: bahnschrift, verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 2.5em;

	@media (min-width: 350px) and (orientation: portrait){
		font-size: 2em;
	}
}

/* TEXTO PARA LOS PARRAFOS */
@mixin paragraphs{
	padding: 0px;
	margin: 0px;
	font-family: bahnschrift, verdana;
	font-style: normal;
	font-weight: lighter;
	font-size: 1em;

	@media (min-width: 350px) and (orientation: portrait){
		font-size: 1em;
	}
}

/* TEXTO PARA BOTONES */
@mixin buttonFont{
	padding: 0px;
	margin: 0px;
	font-family: bahnschrift, verdana;
	font-style: normal;
	font-weight: lighter;
	font-size: 1em;
}